extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/selectTree.pug
include ../../partials/sider.pug

block main
    if roles.permissions.include('product-edit')
        +alert-error()
        +alert-success()
        div(class="flex")
            +sider()
            div(class="list-product flex-grow p-4 relative")
                h2(class="title text-2xl font-bold mb-4") Edit infor product

                form(class="grid grid-cols-[1fr,2fr] gap-8" method="POST" action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH` enctype="multipart/form-data")
                    // Left column - General Information
                    div
                        label(for="name" class="mb-2 block font-semibold") Name
                        input(type="text" name="name" id="name" class="w-full p-2 mb-4 border border-gray-300 rounded" required value=`${product.title}`) 

                        label(for="price" class="mb-2 block font-semibold") Price
                        input(type="number" min="0" name="price" step="0.01" id="price" class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.price}`) 

                        label(for="status" class="mb-2 block font-semibold") Status
                        select(name="status" id="status" class="w-full p-2 mb-4 border border-gray-300 rounded")
                            if product.status === "active"
                                option(value="active" selected) Active
                                option(value="inactive") Inactive
                            else
                                option(value="active") Active
                                option(value="inactive" selected) Inactive
                        label(for="product_category_id" class="mb-2 block font-semibold") Category 
                        select(name="product_category_id" id="product_category_id" class="w-full p-2 mb-4 border border-gray-300 rounded")
                            if(newCategories)
                                +select-tree(newCategories, 1, product.product_category_id)
                        label(for="stock" class="mb-2 block font-semibold") Stock
                        input(type="number" name="stock" id="stock"  class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.stock}`) 
                        
                        label(for="rating" class="mb-2 block font-semibold") Rating
                        input(type="number" name="rating" id="rating" step="0.01" class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.rating ? product.rating : 0}`)
                        
                        
                        label(for="discountPercentage" class="mb-2 block font-semibold") Discount Percentage
                        input(type="number" step="0.01" min="0" name="discountPercentage" id="discountPercentage" class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.discountPercentage ? product.discountPercentage : 0}`) 

                        label(for="position" class="mb-2 block font-semibold") Position
                        input(type="number" name="position" min="1" id="position" placeholder="Auto increase" class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.position}`) 
                        
                        label(for="tags" class="mb-2 block font-semibold") Tags
                        input(type="text" name="tags" id="tags" class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.tags ? product.tags : "Empty"}`)


                    div
                        div(upload-image)
                            label(for="thumbnail" class="mb-2 block font-semibold") Image
                            input( upload-image-input value=product.thumbnail type="file" accept="image/*" name="thumbnail" id="thumbnail" class="w-full p-2 mb-4 border border-gray-300 rounded" title="product.png")
                            img(src=product.thumbnail upload-image-preview class="object-cover mb-4" style="width: 60px; height: 60px;")
                        
                        label(for="description" class="mb-2 block font-semibold") Description
                        textarea(name="description" hiddenid="description" rows="4" class="w-full p-2 mb-4 border border-gray-300 rounded tinymce-editor" )   #{product.description}

                        
                        
                        label(for="brand" class="mb-2 block font-semibold") Brand
                        input(type="text" name="brand" id="brand"  class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.brand ? product.brand : "Empty"}`) 

                        
                        label(for="warrantyInformation" class="mb-2 block font-semibold") Warranty Information
                        input(type="text" name="warrantyInformation" id="warrantyInformation"  class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.warrantyInformation ? product.warrantyInformation : "Empty"}`) 

                        
                        label(for="returnPolicy" class="mb-2 block font-semibold") Return Policy
                        input(type="text" name="returnPolicy" id="returnPolicy"  class="w-full p-2 mb-4 border border-gray-300 rounded" value=`${product.returnPolicy ? product.returnPolicy : "Empty"}`) 

                        
                    div(class="col-span-2 absolute right-[20px] top-[20px]")
                        button(type="submit" id="btnUpdate" class="bg-slate-700 text-white px-4 py-2 rounded") Update product
        
        script(src="/admin/js/edit-product.js") 
    else
        h1(class="text-2xl text-center") You don't have permission to edit product
        a(href=`${prefixAdmin}/products` class="block text-center text-blue-500") Back to list product