extends ../../layouts/default.pug
include ../../mixins/alert.pug

        p.text-sm.text-gray-500.mt-2 Thank you for your patience!
block main
  +alert-error()
  +alert-success()
  .container.mx-auto.p-4
    h2.text-2xl.font-semibold.mb-4.mt-4 Checkout

    .flex.flex-col.items-center.text-center
        p.text-lg.font-medium.mb-4.text-blue-600 Your order is being delivered! Please wait ! we will get it to you as soon as possible.


    if (order)
      form(action="/checkout/order" method="POST")
        .flex
          // Khu vực tóm tắt đơn hàng
          div.flex-1.pr-4
            h3.text-lg.font-semibold.mb-4 Order summary
            table(class="min-w-full divide-y divide-gray-200")
              thead(class="bg-gray-50")
                tr
                  th(class="px-6 py-3 text-left text-xs font-bold text-black uppercase tracking-wider") Product
                  th(class="px-6 py-3 text-left text-xs font-bold text-black uppercase tracking-wider") Name
                  th(class="px-6 py-3 text-left text-xs font-bold text-black uppercase tracking-wider") Quantity
                  th(class="px-6 py-3 text-left text-xs font-bold text-black uppercase tracking-wider") Price
                  th(class="px-6 py-3 text-left text-xs font-bold text-black uppercase tracking-wider") Total

              tbody(class="bg-white divide-y divide-gray-200")
                each product in products
                  tr
                    td(class="px-6 py-4 whitespace-nowrap")
                      img(src=product.thumbnail, alt=product.title, class="w-16 h-16 object-cover")
                    td(class="px-6 py-4 whitespace-nowrap text-md text-black") #{product.title}
                    td(class="px-6 py-4 whitespace-nowrap text-md text-black") #{product.quantity}
                    td(class="px-6 py-4 whitespace-nowrap text-md text-black") $#{product.newPrice}
                    td(class="px-6 py-4 whitespace-nowrap text-md text-black") $#{(product.newPrice * product.quantity).toFixed(2)}
            p(class="text-lg font-md my-6") Total price: #{totalPrice ? totalPrice : 0 }$

            h3.text-lg.font-semibold.mb-4 Payment Method
            select(name="paymentMethod" class="border p-2 w-[200px] bg-white outline-none")
                option(value="creditCard") Credit Card
                option(value="paypal") PayPal
                option(value="bankTransfer") Bank Transfer
          div.flex.flex-col.space-y-4.mt-4.pl-4
            h3.text-lg.font-semibold Billing Information
            .mb-4
              label(for="fullName") Full name:
              p(type="text" id="fullName" name="fullName" class="border p-2 w-[400px]" )= order.userInfo.fullName

            .mb-4
              label(for="address") Address:
              p(type="text" id="address" name="address" class="border p-2 w-[400px]" )= value=order.userInfo.address

            .mb-4
              label(for="phone") Phone number:
              p(type="tel" id="phone" name="phone" class="border p-2 w-[400px]" )= order.userInfo.address

            .mb-4
              label(for="email") Email:
              p(type="email" id="email" name="email" class="border p-2 w-[400px]" )= order.userInfo.email

            .mb-4
              label(for="additionalInfo") Additional information:
              p(id="additionalInfo" name="additionalInfo" class="border p-2 w-[400px]" rows="4" )= order.userInfo.additionalInfo
            
            .flex.justify-between.mt-6
            a(href="/checkout/edit" class="text-blue-600 hover:text-blue-700") Edit information

            

          

    else
      p.text-center.font-bold.text-bg Your cart is empty!

    script(src="/client/js/cartProduct.js")
