extends ../../layouts/default.pug
include ../../mixins/tableCategory.pug
include ../../mixins/alert.pug
include ../../partials/sider.pug
block main
    if roles.permissions.includes('account-view')
        +alert-error()
        +alert-success()
        div(class="flex flex-col md:flex-row") 
            +sider()
            div(class="list-product flex-grow p-4 relative overflow-x-auto") 
                h2(class="title text-2xl font-bold mb-4") List account

                //- table list category
                table(class="min-w-full table-auto")
                    thead
                        tr(class="bg-gray-200 text-left")
                            th(class="p-2") Number
                            th(class="p-2") Avatar
                            th(class="p-2") Name
                            th(class="p-2") Email
                            th(class="p-2") Role
                            th(class="p-2") Status
                            th(class="p-2") Action
                    tbody
                        each account, index in accounts
                            tr
                                td(class="p-2 text-sm")= index+1
                                td(class="p-2")
                                    img(src=`${account.avatar}` alt="avatar" class="h-4 w-4 object-cover rounded-full" )


                                td(class="p-2 text-sm")= account.fullName
                                td(class="p-2 text-sm")= account.email
                                td(class="p-2 text-sm")= roleMap[account.roleID]
                                if account.status === 'active'
                                    td(class="p-2 text-green-700 text-sm")= account.status
                                else
                                    td(class="p-2 text-red-700 text-sm")= account.status
                                td(class="p-2")
                                    if roles.permissions.includes('account-edit')
                                        a(href=`${prefixAdmin}/accounts/edit/${account._id}` class="bg-slate-700 text-white text-sm px-4 py-2 rounded inline-block mr-2") Edit
                                    if roles.permissions.includes('account-delete')
                                        a(href=`${prefixAdmin}/accounts/delete/${account._id}` class="bg-red-500 text-white text-sm px-4 py-2 rounded inline-block") Delete
                                
                if roles.permissions.includes('account-create')
                    div(class="absolute right-4 top-4 hover:bg-red-600")
                        a(href=`${prefixAdmin}/accounts/create` class="bg-slate-700 text-white text-sm px-4 py-2 rounded") New account
    else
        h2(class="text-2xl font-bold text-center") You don't have permission to view this page
        a(href=`${prefixAdmin}/accounts` class="block text-center mt-4 text-blue-500") Back to list account
