extend ../../layouts/default.pug

block main
    div(class="container mx-auto p-4")
        h2.text-2xl.font-semibold.mb-8.mt-4 Product Details
        
        div(class="grid grid-cols-[2fr,5fr] gap-8")
            //- Left side: Image and main product info
            div
                img(src=product.thumbnail alt=product.title class="w-[300px] h-auto object-cover rounded-md mb-4")
                
                //- Primary info
                

            //- Right side: Additional product details
            div
                h2.text-3xl.font-semibold.mb-2.text-ellipsis #{product.title}
                p.text-gray-600.mb-2.text-ellipsis.line-clamp-3 #{product.description}
                p.text-lg.font-bold.mb-2 Price: #{product.newPrice}$
                if product.discountPercentage
                    p.text-sm.text-gray-500.line-through #{product.price}$
                    span(class="p-2 bg-red-500 text-white rounded-full mt-2 inline-block text-center") #{product.discountPercentage}% Off
                else
                    p.text-sm.text-gray-500.font-bold #{product.price}$
                //- button buy now and add to cart
                button(class="bg-[#ec2F4B] text-white p-2 rounded-md w-[200px] mt-4 mr-4") Buy now
                button(class="bg-[#009FFF] text-white p-2 rounded-md w-[200px] mt-2") Add to cart
        div()
            label(class="mb-2 block font-semibold") Category
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.category ? product.category : 'Uncategorized'}

            label(class="mb-2 block font-semibold") Stock
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.stock}

            label(class="mb-2 block font-semibold") Rating
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.rating ? product.rating : '5.0'}

            label(class="mb-2 block font-semibold") Warranty
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.warrantyInformation ? product.warrantyInformation : 'No warranty information available'}

            label(class="mb-2 block font-semibold") Return Policy
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.returnPolicy ? product.returnPolicy : 'No return policy available'}

            label(class="mb-2 block font-semibold") Tag
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.tags ? product.tags.join(', ') : 'No tags available'}

        //- Reviews and Ratings section
        //- div.mt-8
        //-     h3.text-xl.font-semibold.mb-4 Reviews and Ratings
        //-     //- You can display reviews, ratings, and any other additional info here
        //-     each review in reviews
        //-         div(class="p-4 mb-4 border border-gray-300 rounded bg-gray-50")
        //-             p.font-semibold #{review.username}
        //-             p #{review.comment}
        //-             p.text-sm.text-gray-500 Rating: #{review.rating}/5
