extend ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error()
    +alert-success()
    div(class="container mx-auto p-4")
        h2.text-2xl.font-semibold.mb-8.mt-4 Product Details
        
        div(class="grid grid-cols-[2fr,5fr] gap-8")
            div
                img(src=product.thumbnail alt=product.title class="w-[300px] h-auto object-cover rounded-md mb-4")
                
                

            form( method="POST" action=`/cart/add/${product.id}` )
                h2.text-3xl.font-semibold.mb-2.text-ellipsis #{product.title}
                p.text-lg.font-bold.mb-2 Price: #{product.newPrice}$
                if product.discountPercentage
                    p.text-sm.text-gray-500.line-through #{product.price}$
                    span(class="p-2 bg-red-500 text-white rounded-full mt-2 inline-block text-center mr-4") #{product.discountPercentage}% Off
                else
                    p.text-sm.text-gray-500.font-bold #{product.price}$
                label(class="mb-2 block font-semibold mt-4") Stock: #{product.stock}
                div(class="flex items-center ")
                    label(class="mb-2 block font-semibold" for="quantity") Quantity
                    input(type="number" name="quantity" min="1" max=product.stock value="1" class="mb-2 ml-4 border border-grey outline-none p-2 pr-[60px]") 
                if (product.stock > 0)
                    button(class="bg-[#ec2F4B] text-white p-2 rounded-md w-[200px] mt-4 mr-4" type="submit") Buy now
                    button(class="bg-[#009FFF] text-white p-2 rounded-md w-[200px] mt-2" type="submit") Add to cart
                else 
                    button(class="bg-[#009FFF] text-white p-2 rounded-md w-[200px] mt-2" type="submit") Out of stock
        div()
            label(class="mb-2 block font-semibold") Category
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.categoryName ? product.categoryName : 'Uncategorized'}

            label(class="mb-2 block font-semibold") Rating
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.rating ? product.rating : '5.0'}

            label(class="mb-2 block font-semibold") Warranty
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.warrantyInformation ? product.warrantyInformation : 'No warranty information available'}

            label(class="mb-2 block font-semibold") Return Policy
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.returnPolicy ? product.returnPolicy : 'No return policy available'}

            label(class="mb-2 block font-semibold") Tag
            p(class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-100") #{product.tags ? product.tags.join(', ') : 'No tags available'}

            p(class="mb-2 block font-semibold") Description
            p(class="w-full  mb-4  rounded ") !{product.description ? product.description : 'Uncategorized'}

        //- Reviews and Ratings section
        //- div.mt-8
        //-     h3.text-xl.font-semibold.mb-4 Reviews and Ratings
        //-     //- You can display reviews, ratings, and any other additional info here
        //-     each review in reviews
        //-         div(class="p-4 mb-4 border border-gray-300 rounded bg-gray-50")
        //-             p.font-semibold #{review.username}
        //-             p #{review.comment}
        //-             p.text-sm.text-gray-500 Rating: #{review.rating}/5

    script(src="/client/js/detailProduct.js")
