mixin tabel-category(categories, level = 1)
    //- each item in categories
    //-     - const prefix = Array(level + 1).join('-- ')
    //-     option(value=`${item._id}`) #{prefix}#{item.title}
    //-         if item.children && item.children.length > 0
    //-             +select-tree(item.children, level + 1)
    each category, index in categories
        - const prefix = Array(level + 1).join('-- ')
        tr(class="border-b")
            td(class="p-2 hidden select-column")
                input(type="checkbox" name="productIds" value=`${category.id}` class="select-checkbox")
            td(class="p-2")= category.index 
            td(class="p-2")
                img(src=`${category.thumbnail}` alt=`${category.title}` class="w-20 aspect-video object-cover")
            td(class="p-2")= category.title
            td(class="p-2") #{prefix}#{category.title}
            td(class="p-2 hidden select-column")
                input(type="number" name="positions" value=`${category.position}` class="w-16 border border-gray-300 p-1 rounded-md position-input")
            
            if category.status === 'active'
                td(class="p-2 text-green-700")= category.status
            else
                td(class="p-2 text-red-700")= category.status
            td(class="p-2 flex items-center h-full pt-[15px] space-x-2")
                
                a(href=`${prefixAdmin}/category/edit/${category._id}` class="text-purple-600 bg-white border border-gray-300 rounded-md py-1 px-2 hover:bg-gray-100" ) Edit
                a(href=`${prefixAdmin}/category/detail/${category._id}` class="text-lime-700 bg-white border border-gray-300 rounded-md py-1 px-2 hover:bg-gray-100" ) Detail
                button(btn-delete data-id=`${category._id}` class="text-red-700 bg-white border border-gray-300 rounded-md py-1 px-2 hover:bg-gray-100" ) Delete

        if category.children && category.children.length > 0
            +tabel-category(category.children, level + 1)